{% extends 'customer/pizza-gh-pages/base.html' %}


{% block content %}
{% load humanize %}

    <section class="home-slider owl-carousel img" style="background-image: url(../../../static/images/bg_1.jpg);">

      <div class="slider-item" style="background-image: url(../../../static/images/bg_3.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Our Menu</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Menu</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>
W

	<section class="ftco-section">

    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Menu</h2>
              <form method="GET" action="{% url 'menu-search' %}">
                <div class="md-form mt-0 active-cyan-2">
                    <input class="form-control" name="q" type="text" placeholder="Search Our Menu" aria-label="Search" value="{{ request.GET.q }}">
                </div>
              </form>
          </div>
        </div>
    	</div>


        <div class="container">
    		<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Beer, Hard Soda and Ciders</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          </div>
        </div>
        {% for item in menu_items %}
        <div class="row justify-content-center">
        	<div class="col-md-10">
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url({{ item.image.url }});"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>{{ item.name }}</span></h3>
	        				<span class="price">{{ item.price|intcomma }}</span>
	        			</div>
	        			<div class="d-block" style="width: 100%;">
	        				<p>{{ item.description }}</p>
	        			</div>
        			</div>
        		</div>
        	</div>
        </div>
        {% endfor %}
    	</div>
    </section>



{% endblock content %}